<?xml version="1.0" standalone="yes"?>
<Config>
  <Config>
    <Parametro>Senha</Parametro>
    <Valor>1</Valor>
  </Config>
  <Config>
    <Parametro>IP</Parametro>
    <Valor>127.0.0.1</Valor>
  </Config>
  <Config>
    <Parametro>PortaUDP</Parametro>
    <Valor>19002</Valor>
  </Config>
  <Config>
    <Parametro>Mascara</Parametro>
    <Valor>255.255.255.0</Valor>
  </Config>
  <Config>
    <Parametro>Roteador</Parametro>
    <Valor>192.168.0.1</Valor>
  </Config>
  <Config>
    <Parametro>TipoID</Parametro>
    <Valor>1</Valor>
  </Config>
  <Config>
    <Parametro>DiferencaRelogio</Parametro>
    <Valor>0</Valor>
  </Config>
  <Config>
    <Parametro>IniHoraVerao</Parametro>
    <Valor>2001;01;01;00;00;00;</Valor>
  </Config>
  <Config>
    <Parametro>FimHoraVerao</Parametro>
    <Valor>2001;01;02;00;00;00;</Valor>
  </Config>
  <Config>
    <Parametro>EnderecoFisico</Parametro>
    <Valor>01-23-45-67-89-AB</Valor>
  </Config>
  <Config>
    <Parametro>InicioOperacao</Parametro>
    <Valor>2010;4;9;13;7;35;</Valor>
  </Config>
  <Config>
    <Parametro>NumeroSerie</Parametro>
    <Valor>0</Valor>
  </Config>
  <Config>
    <Parametro>NumeroModelo</Parametro>
    <Valor>0</Valor>
  </Config>
  <Config>
    <Parametro>NumeroFabricante</Parametro>
    <Valor>0</Valor>
  </Config>
  <Config>
    <Parametro>TempoExibicaoDisplay</Parametro>
    <Valor>1</Valor>
  </Config>
  <Config>
    <Parametro>StatusPapel</Parametro>
    <Valor>1</Valor>
  </Config>
</Config>